<!doctype html>
<!--[if lt IE 7 ]><html itemscope itemtype="https://schema.org/" id="ie6" class="ie" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="https://schema.org/" id="ie7" class="ie" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="https://schema.org/" id="ie8" class="ie" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="https://schema.org/" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!--><html itemscope itemtype="https://schema.org/" lang="en-US"><!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>Grid</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../../build/base.css">

</head>
<body class="page sample-xxx"> <!-- can insert custom styles at the body tag -->
    
    <!-- Root Layout Container can act like a page wrapper, can insert custom styles here. -->
    <div class="root responsivegrid sample-xxx">
        <!-- represents a full width layout container of 12 columns -->
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 "> 
            
            <!-- Title Component where 'cmp-title--site' is a custom style that can be added.  -->
            <div class="title cmp-title--site aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                <div class="cmp-title">
                    <h1 class="cmp-title__text">AEM Core Components</h1>
                </div>
            </div> <!-- End Title Component -->
            
            
            <!-- Navigation Component, can insert custom class here. -->
            <div class="navigation cmp-navigation--top aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                <nav class="cmp-navigation">
                    <ul class="cmp-navigation__group">
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="../../index.html" title="Home" class="cmp-navigation__item-link">Index</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../breadcrumb/breadcrumb.html" title="Breadcrumb" class="cmp-navigation__item-link">Breadcrumb</a>
                        </li>
                          <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../forms/forms.html" title="Forms" class="cmp-navigation__item-link">Forms</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active">
                             <a href="../grid/grid.html" title="Grid" class="cmp-navigation__item-link">Grid</a>
                        </li>
                          <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../image/image.html" title="Image" class="cmp-navigation__item-link">Image</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../list/list.html" title="List" class="cmp-navigation__item-link">List</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../navigation/navigation.html" title="Navigation" class="cmp-navigation__item-link">Navigation</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../search/search.html" title="Search" class="cmp-navigation__item-link">Search</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../sharing/sharing.html" title="Sharing" class="cmp-navigation__item-link">Sharing</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../teaser/teaser.html" title="Teaser" class="cmp-navigation__item-link">Teaser</a>
                        </li>
                         <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../text/text.html" title="Text" class="cmp-navigation__item-link">Text</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../title/title.html" title="Title" class="cmp-navigation__item-link">Title</a>
                        </li>
                    </ul>
                </nav>
            </div><!-- End Navigation Component -->
            
            <!-- Main Layout Container, can insert custom class here -->
            <div class="responsivegrid sample-xxx aem-GridColumn aem-GridColumn--default--12">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 ">
                    
                    <!-- Title Component where 'cmp-title--sample-xxx' is a custom style that can be added.  -->
                    <div class="title cmp-title--section aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                        <div class="cmp-title">
                            <h2 class="cmp-title__text">Grid Component</h2>
                        </div>
                    </div> <!-- End Title Component -->
                    
                </div> <!-- main layout container grid -->
            </div><!-- end Main Layout Container div -->
            
        </div><!-- End aem-grid--12 -->
    </div><!-- End Root Container -->

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../build/base.js"></script>

</body>
</html>