<!doctype html>
<!--[if lt IE 7 ]><html itemscope itemtype="https://schema.org/" id="ie6" class="ie" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="https://schema.org/" id="ie7" class="ie" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="https://schema.org/" id="ie8" class="ie" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="https://schema.org/" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!--><html itemscope itemtype="https://schema.org/" lang="en-US"><!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>List</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../../build/base.css">

</head>
<body class="page sample-xxx"> <!-- can insert custom styles at the body tag -->
    
    <!-- Root Layout Container can act like a page wrapper, can insert custom styles here. -->
    <div class="root responsivegrid sample-xxx">
        <!-- represents a full width layout container of 12 columns -->
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 "> 
            
            <!-- Title Component where 'cmp-title--site' is a custom style that can be added.  -->
            <div class="title cmp-title--site aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                <div class="cmp-title">
                    <h1 class="cmp-title__text">AEM Core Components</h1>
                </div>
            </div> <!-- End Title Component -->
            
            
            <!-- Navigation Component, can insert custom class here. -->
            <div class="navigation cmp-navigation--top aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                <nav class="cmp-navigation">
                    <ul class="cmp-navigation__group">
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="../../index.html" title="Home" class="cmp-navigation__item-link">Index</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../breadcrumb/breadcrumb.html" title="Breadcrumb" class="cmp-navigation__item-link">Breadcrumb</a>
                        </li>
                          <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../forms/forms.html" title="Forms" class="cmp-navigation__item-link">Forms</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../grid/grid.html" title="Grid" class="cmp-navigation__item-link">Grid</a>
                        </li>
                          <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../image/image.html" title="Image" class="cmp-navigation__item-link">Image</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active">
                             <a href="../list/list.html" title="List" class="cmp-navigation__item-link">List</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../navigation/navigation.html" title="Navigation" class="cmp-navigation__item-link">Navigation</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../search/search.html" title="Search" class="cmp-navigation__item-link">Search</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../sharing/sharing.html" title="Sharing" class="cmp-navigation__item-link">Sharing</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../teaser/teaser.html" title="Teaser" class="cmp-navigation__item-link">Teaser</a>
                        </li>
                         <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../text/text.html" title="Text" class="cmp-navigation__item-link">Text</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../title/title.html" title="Title" class="cmp-navigation__item-link">Title</a>
                        </li>
                    </ul>
                </nav>
            </div><!-- End Navigation Component -->
            
            <!-- Main Layout Container, can insert custom class here -->
            <div class="responsivegrid sample-xxx aem-GridColumn aem-GridColumn--default--12">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 ">
                    
                    <!-- Title Component where 'cmp-title--sample-xxx' is a custom style that can be added.  -->
                    <div class="title cmp-title--section aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                        <div class="cmp-title">
                            <h2 class="cmp-title__text">List Component</h2>
                        </div>
                    </div> <!-- End Title Component -->
                    
                <!-- Left Layout Container to split main body in half -->
                <div class="responsivegrid sample-xxx aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12">
                	<div class="aem-Grid aem-Grid--default--6 aem-Grid--phone--12 ">
                	
                    <!-- Title Component -->
                    <div class="title aem-GridColumn aem-GridColumn--default--12">
                        <div class="cmp-title">
                            <h3 class="cmp-title__text">Plain List</h3>
                        </div>    
                    </div>
                   
                    
                    <!-- Plain List -->
                    <div class="list aem-GridColumn aem-GridColumn--default--12">
                        <ul class="cmp-list">
                            <li class="cmp-list__item">
                                <article>
                                    <span class="cmp-list__item-title">List Item 1</span>
                                </article>
                            </li>
                            <li class="cmp-list__item">
                                <article>
                                    <span class="cmp-list__item-title">List Item 2</span>
                                </article>
                            </li>
                            <li class="cmp-list__item">
                                <article>
                                    <span class="cmp-list__item-title">List Item 3</span>
                                </article>
                            </li>
                        </ul>
                    </div> <!-- end plain list -->
                    
                       <!-- Title Component -->
                    <div class="title aem-GridColumn aem-GridColumn--default--12">
                        <div class="cmp-title">
                            <h3 class="cmp-title__text">List w/ Link + Date</h3>
                        </div>    
                    </div>
                    
                    <!-- Link and Date List -->
                    <div class="list aem-GridColumn aem-GridColumn--default--12">
                        <ul class="cmp-list">
                            <li class="cmp-list__item">
                                <article>
                                    <a class="cmp-list__item-link" href="#">
                                        <span class="cmp-list__item-title">List Item 1</span>
                                        <!-- Dates can be different formats (yyyy-mm-dd) (per list component) -->
                                        <span class="cmp-list__item-date">2018-01-31</span> 
                                    </a>
                                </article>
                            </li>
                            <li class="cmp-list__item">
                                <article>
                                     <a class="cmp-list__item-link" href="#">
                                        <span class="cmp-list__item-title">List Item 2</span>
                                        <span class="cmp-list__item-date">2018-02-11</span> 
                                    </a>
                                </article>
                            </li>
                            <li class="cmp-list__item">
                                <article>
                                    <a class="cmp-list__item-link" href="#">
                                        <span class="cmp-list__item-title">List Item 3</span>
                                        <span class="cmp-list__item-date">2018-02-14</span> 
                                    </a>
                                </article>
                            </li>
                        </ul>
                    </div> <!-- end Link+date list -->
                    
                    <!-- Title Component -->
                    <div class="title aem-GridColumn aem-GridColumn--default--12">
                        <div class="cmp-title">
                            <h3 class="cmp-title__text">List w/ Link + Date + Description</h3>
                        </div>    
                    </div>
                    <!-- Link w/ Date + Description List -->
                    <div class="list aem-GridColumn aem-GridColumn--default--12">
                        <ul class="cmp-list">
                            <li class="cmp-list__item">
                                <article>
                                    <a class="cmp-list__item-link" href="#">
                                        <span class="cmp-list__item-title">List Item 1</span>
                                        <!-- Dates can be different formats (MMM DD) (per list component) -->
                                        <span class="cmp-list__item-date">Jan 31</span> 
                                    </a>
                                    <span class="cmp-list__item-description">an optional description but nice to have.</span>
                                </article>
                            </li>
                            <li class="cmp-list__item">
                                <article>
                                     <a class="cmp-list__item-link" href="#">
                                        <span class="cmp-list__item-title">List Item 2</span>
                                        <span class="cmp-list__item-date">FEB 11</span> 
                                    </a>
                                    <span class="cmp-list__item-description">Lorem ipsum description 2</span>
                                </article>
                            </li>
                            <li class="cmp-list__item">
                                <article>
                                    <a class="cmp-list__item-link" href="#">
                                        <span class="cmp-list__item-title">List Item 3</span>
                                        <span class="cmp-list__item-date">FEB 14</span> 
                                    </a>
                                    <span class="cmp-list__item-description">ipsum description numero three</span>
                                </article>
                            </li>
                        </ul>
                    </div> <!-- end Link+date list -->
                    
                    </div>
                   </div><!--  End Left layout container -->
                   
                   <!-- Left Layout Container to split main body in half -->
                	<div class="responsivegrid sample-xxx aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12">
                		<div class="aem-Grid aem-Grid--default--6 aem-Grid--phone--12 ">
                		
                		  <!--  Text component -->
                    	<div class="text sample-xxx aem-GridColumn aem-GridColumn--default--12">
                        	<div class="cmp-text">
                        	  <p>The List component is intended to display a list of pages. 
                        	  It can link to the respective page, show a description and a date of when the page was last modified. 
                        	  The Date that gets displayed can be formatted in a variety of ways, see this 
                        	  <a href="https://github.com/Adobe-Marketing-Cloud/htl-spec/blob/master/SPECIFICATION.md#1222-dates">documentation for additional syntax options.</a></p>
                        	  <p><a href="https://github.com/Adobe-Marketing-Cloud/aem-core-wcm-components/tree/master/content/src/content/jcr_root/apps/core/wcm/components/list/v2/list" target="_blank">
                          			List (v2) GitHub Documentation
                          			</a>
                          		</p>
                          <p><a href="https://github.com/Adobe-Marketing-Cloud/aem-core-wcm-components/blob/master/content/src/content/jcr_root/apps/core/wcm/components/list/v2/list" target="_blank">
                          		List (v2) HelpX Documentation
                          		</a>
                          </p>
                       
                        </div>
                    </div> <!--  end Text component -->
                    
                		</div>
                	</div>
                    
                    
                </div> <!-- main layout container grid -->
            </div><!-- end Main Layout Container div -->
            
        </div><!-- End aem-grid--12 -->
    </div><!-- End Root Container -->

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../build/base.js"></script>

</body>
</html>