<!doctype html>
<!--[if lt IE 7 ]><html itemscope itemtype="https://schema.org/" id="ie6" class="ie" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="https://schema.org/" id="ie7" class="ie" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="https://schema.org/" id="ie8" class="ie" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="https://schema.org/" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!--><html itemscope itemtype="https://schema.org/" lang="en-US"><!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>Text</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../../build/base.css">

</head>
<body class="page sample-xxx"> <!-- can insert custom styles at the body tag -->
    
    <!-- Root Layout Container can act like a page wrapper, can insert custom styles here. -->
    <div class="root responsivegrid sample-xxx">
        <!-- represents a full width layout container of 12 columns -->
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 "> 
            
            <!-- Title Component where 'cmp-title--site' is a custom style that can be added.  -->
            <div class="title cmp-title--site aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                <div class="cmp-title">
                    <h1 class="cmp-title__text">AEM Core Components</h1>
                </div>
            </div> <!-- End Title Component -->
            
            
            <!-- Navigation Component, can insert custom class here. -->
            <div class="navigation cmp-navigation--top aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                <nav class="cmp-navigation">
                    <ul class="cmp-navigation__group">
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="../../index.html" title="Home" class="cmp-navigation__item-link">Index</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../breadcrumb/breadcrumb.html" title="Breadcrumb" class="cmp-navigation__item-link">Breadcrumb</a>
                        </li>
                          <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../forms/forms.html" title="Forms" class="cmp-navigation__item-link">Forms</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../grid/grid.html" title="Grid" class="cmp-navigation__item-link">Grid</a>
                        </li>
                          <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../image/image.html" title="Image" class="cmp-navigation__item-link">Image</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../list/list.html" title="List" class="cmp-navigation__item-link">List</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../navigation/navigation.html" title="Navigation" class="cmp-navigation__item-link">Navigation</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../search/search.html" title="Search" class="cmp-navigation__item-link">Search</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../sharing/sharing.html" title="Sharing" class="cmp-navigation__item-link">Sharing</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../teaser/teaser.html" title="Teaser" class="cmp-navigation__item-link">Teaser</a>
                        </li>
                         <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active">
                             <a href="../text/text.html" title="Text" class="cmp-navigation__item-link">Text</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../title/title.html" title="Title" class="cmp-navigation__item-link">Title</a>
                        </li>
                    </ul>
                </nav>
            </div><!-- End Navigation Component -->
            
            <!-- Main Layout Container, can insert custom class here -->
            <div class="responsivegrid sample-xxx aem-GridColumn aem-GridColumn--default--12">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 ">
                    
                    <!-- Title Component where 'cmp-title--sample-xxx' is a custom style that can be added.  -->
                    <div class="title cmp-title--section aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                        <div class="cmp-title">
                            <h2 class="cmp-title__text">Text Component</h2>
                        </div>
                    </div> <!-- End Title Component -->

				<!-- Half Layout Container Component -->
				<div class="responsivegrid sample-xxx aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12">
                	<div class="aem-Grid aem-Grid--6 aem-Grid--default--6 aem-Grid--phone--12 ">
                	
                    <!-- Text component, insert custom class here -->
                    <div class="text sample-xxx aem-GridColumn aem-GridColumn--default--6">
                        <div class="cmp-text">

                            <p><b>Lorem ipsum</b> <i>dolor sit amet</i>, consectetur adipiscing elit. Curabitur venenatis rhoncus diam, nec vulputate ex feugiat quis. Phasellus vitae diam eu sem pharetra dictum. Etiam eu massa tristique, aliquam ex eget, porta dolor. </p>
                            <ul>
                                <li>Donec tincidunt imperdiet diam.</li>
                                <li>Ac vestibulum nulla aliquam et. </li>
                                <li>Pellentesque mollis in lorem. </li>
                            </ul>
                            <p>Faucibus suscipit. Integer commodo ex in tincidunt placerat. Phasellus eros lacus, consectetur non dictum ac, pretium sit amet sem.<br />
                            </p>
                            <ol>
                                <li>Mauris eu tempus mauris. </li>
                                <li>In eros elit, rutrum non sodales et, feugiat quis purus. </li>
                            </ol>
                            <p>In <a title="A link" href="http://www.adobe.com" target="_blank">pretium lectus et metus</a> eleifend, in tempor arcu egestas. Aenean rhoncus egestas orci, in tristique lacus. Ut ultrices consequat eleifend. Sed a est libero. Integer condimentum posuere lorem, ac porta dui ultrices feugiat. Etiam et leo lacus. Donec porttitor ut magna non tristique. Nunc at tempor massa.</p>
                            <pre>
Nullam purus dolor, ornare a enim sit amet, iaculis maximus mi. 
Nullam elementum lectus in ligula fringilla, vitae dapibus odio posuere. 
Duis et faucibus lorem, a pellentesque urna. Aliquam eu efficitur enim.
</pre>
                            <p>Aliquam mauris nibh, ultricies ac viverra eget, ultrices ut turpis. Vestibulum fringilla, nibh vestibulum lobortis condimentum, ligula turpis placerat nisl, quis finibus sem enim eu orci. Integer sollicitudin, risus eu venenatis egestas, lorem tortor tristique neque, eget ultrices ex massa quis lectus. </p>
                            <blockquote>Donec quis sapien sapien. Nullam at tortor ac orci eleifend pulvinar. Maecenas dapibus, nulla nec cursus tincidunt, lectus leo laoreet dolor, eget ullamcorper leo eros non lorem. Etiam sollicitudin, lectus id ultricies molestie, quam ante bibendum felis, quis egestas nisi ante vel urna. </blockquote>
                            <p>Nam massa elit, iaculis vitae pharetra quis, ultricies sed dolor. Curabitur sed congue sapien, eget porttitor sapien. Pellentesque congue dui et scelerisque tempus.</p>
                            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum porta nec felis a pellentesque. Cras ut dolor eu diam pretium maximus id vel nunc. Vivamus lacinia venenatis erat sit amet condimentum. Morbi ullamcorper orci vitae metus dignissim, ut vestibulum quam tempus. Maecenas auctor faucibus augue, sit amet sagittis augue tempus quis. Integer sodales eros non augue bibendum, molestie faucibus libero scelerisque. Nam velit urna, facilisis ac erat sit amet, convallis ullamcorper tellus. Sed quis laoreet ex. Suspendisse vitae enim non orci luctus tempus sit amet sed augue. Curabitur arcu risus, molestie imperdiet condimentum vitae, dapibus in sem.</p>
                            <p>Maecenas at sollicitudin magna, a maximus mauris. Nulla lacus tellus, interdum a porttitor quis, facilisis id enim. In eu purus est. Suspendisse vel quam vel nisl pellentesque laoreet at ut arcu. Integer at varius ex. Aliquam elementum lacinia felis rhoncus bibendum. Suspendisse potenti.</p>
							
							<h3>Styles can be added to the text component outter div</h3>

                        </div>
                    </div>
                    <!-- End Text Component -->
                    
                      <!-- inverse Text component -->
                    <div class="text cmp-text--inverse aem-GridColumn aem-GridColumn--default--6">
                        <div class="cmp-text">

                            <p><b>Lorem ipsum</b> <i>dolor sit amet</i>, consectetur adipiscing elit. Curabitur venenatis rhoncus diam, nec vulputate ex feugiat quis. Phasellus vitae diam eu sem pharetra dictum. Etiam eu massa tristique, aliquam ex eget, porta dolor. </p>
                            <ul>
                                <li>Donec tincidunt imperdiet diam.</li>
                                <li>Ac vestibulum nulla aliquam et. </li>
                                <li>Pellentesque mollis in lorem. </li>
                            </ul>
                     	</div>
                    </div> <!-- inverse Text component -->
                   
                   </div>
                 </div><!-- End half Layout Container component -->
                    
                 <!-- Half Layout Container Component -->
				<div class="responsivegrid sample-xxx aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12">
                	<div class="aem-Grid aem-Grid--6 aem-Grid--default--6 aem-Grid--phone--12 ">
                    <!-- Text Component -->
                    <div class="text sample-xxx aem-GridColumn aem-GridColumn--default--6">
                        <div class="cmp-text">
                          <p>The text component allows an author to create free form rich text. The rich text can create almost any variety of elements. 
                          However no css classes or in-line styles can be added to an element in the text component. Custom css classes can be added to the div surrounding the text component.
                          </p>
                          <p><a href="https://github.com/Adobe-Marketing-Cloud/aem-core-wcm-components/tree/master/content/src/content/jcr_root/apps/core/wcm/components/text/v2/text" target="_blank">
                          		Text (v2) GitHub Documentation
                          		</a>
                          </p>
                        </div>
                    </div> <!-- end Text component -->
                    
                    </div>
                   </div> <!-- end Half Layout Container Component -->

                </div> <!-- main layout container grid -->
            </div><!-- end Main Layout Container div -->
            
        </div><!-- End aem-grid--12 -->
    </div><!-- End Root Container -->

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../build/base.js"></script>

</body>
</html>