<!doctype html>
<!--[if lt IE 7 ]><html itemscope itemtype="https://schema.org/" id="ie6" class="ie" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="https://schema.org/" id="ie7" class="ie" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="https://schema.org/" id="ie8" class="ie" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="https://schema.org/" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!--><html itemscope itemtype="https://schema.org/" lang="en-US"><!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>Forms</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../../build/base.css">

</head>
<body class="page sample-xxx"> <!-- can insert custom styles at the body tag -->
    
    <!-- Root Layout Container can act like a page wrapper, can insert custom styles here. -->
    <div class="root responsivegrid sample-xxx">
        <!-- represents a full width layout container of 12 columns -->
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 "> 
            
            <!-- Title Component where 'cmp-title--site' is a custom style that can be added.  -->
            <div class="title cmp-title--site aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                <div class="cmp-title">
                    <h1 class="cmp-title__text">AEM Core Components</h1>
                </div>
            </div> <!-- End Title Component -->
            
            
            <!-- Navigation Component, can insert custom class here. -->
            <div class="navigation cmp-navigation--top aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                <nav class="cmp-navigation">
                    <ul class="cmp-navigation__group">
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                            <a href="../../index.html" title="Home" class="cmp-navigation__item-link">Index</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../breadcrumb/breadcrumb.html" title="Dropdown" class="cmp-navigation__item-link">Breadcrumb</a>
                        </li>
                          <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active">
                             <a href="../forms/forms.html" title="Forms" class="cmp-navigation__item-link">Forms</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../grid/grid.html" title="Grid" class="cmp-navigation__item-link">Grid</a>
                        </li>
                          <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../image/image.html" title="Image" class="cmp-navigation__item-link">Image</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../list/list.html" title="List" class="cmp-navigation__item-link">List</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../navigation/navigation.html" title="Navigation" class="cmp-navigation__item-link">Navigation</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../search/search.html" title="Search" class="cmp-navigation__item-link">Search</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../sharing/sharing.html" title="Sharing" class="cmp-navigation__item-link">Sharing</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../teaser/teaser.html" title="Teaser" class="cmp-navigation__item-link">Teaser</a>
                        </li>
                         <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../text/text.html" title="Text" class="cmp-navigation__item-link">Text</a>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-1">
                             <a href="../title/title.html" title="Title" class="cmp-navigation__item-link">Title</a>
                        </li>
                    </ul>
                </nav>
            </div><!-- End Navigation Component -->
            
            <!-- Main Layout Container, can insert custom class here -->
            <div class="responsivegrid sample-xxx aem-GridColumn aem-GridColumn--default--12">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 ">
                    
                    <!-- Title Component where 'cmp-title--sample-xxx' is a custom style that can be added.  -->
                    <div class="title cmp-title--section aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0">
                        <div class="cmp-title">
                            <h2 class="cmp-title__text">Forms Components</h2>
                        </div>
                    </div> <!-- End Title Component -->
                    
                    <!--  Start Form Container -->
                    <form method="POST"
                    action="/submit" id="new_form"
                    name="new_form" enctype="multipart/form-data"
                    class="cmp-form sample-xxx aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
                
                	<!-- Form Text Component (with placeholder) -->
                    <div class="text sample-xxx aem-GridColumn aem-GridColumn--default--12">
                        <div class="cmp-form-text" data-cmp-is="formText">
                            <label for="form-text-221177075">Text input field</label> <input
                                class="cmp-form-text__text" data-cmp-hook-form-text="input"
                                type="text" id="form-text-221177075" name="text" placeholder="Enter Text here">
                        </div>
                    </div> <!-- end Form Text Component  -->
                    
                    <!-- Form Text  Component (with help message) 
                    	 Also notice the data-cmp-required-message attribute. could tie in w/ JS for this -->
                    <div class="text sample-xxx aem-GridColumn aem-GridColumn--default--12">
						<div class="cmp-form-text" data-cmp-is="formText" data-cmp-required-message="This is required.">
    						<label for="form-text-221177075">Text Input Field</label>
    						<p class="cmp-form-text__help-block">Help Message</p>
						    <input class="cmp-form-text__text" data-cmp-hook-form-text="input" type="text" id="form-text-221177075" name="other" required="">
						</div>
					</div><!--  end Form Text Component -->
					
                    <!-- Form Hidden component -->
                    <div class="hidden aem-GridColumn aem-GridColumn--default--12">
                        <input type="hidden" id="hidden-field" name="hidden" value="im-hidden">
                    </div> <!-- end Form Hidden component -->
                    
                    <!-- Options component (using checkboxes) -->
                    <div
                        class="options-checkboxes sample-xxx options aem-GridColumn aem-GridColumn--default--12">
                        <fieldset class="cmp-form-options">
                            <legend class="cmp-form-options__legend">Options as
                                Checkboxes</legend>
                            <label class="cmp-form-options__field-label"> <input
                                class="cmp-form-options__field cmp-form-options__field--checkbox"
                                type="checkbox" name="checkboxes" value="1"> Option 1
                            </label> <label class="cmp-form-options__field-label"> <input
                                class="cmp-form-options__field cmp-form-options__field--checkbox"
                                type="checkbox" name="checkboxes" value="2"> Option 2
                            </label> <label class="cmp-form-options__field-label"> <input
                                class="cmp-form-options__field cmp-form-options__field--checkbox"
                                type="checkbox" name="checkboxes" value="3"> Option 3
                            </label>
                            <p class="cmp-form-options__help-message">Optional help message or description</p>
                        </fieldset>
                    </div><!-- end Options component (using checkboxes) -->
                    
                    <!-- Options component (using radio buttons) -->
                    <div
                        class="options-radio-buttons sample-xxx options aem-GridColumn aem-GridColumn--default--12">
                        <fieldset class="cmp-form-options">
                            <legend class="cmp-form-options__legend">Options as Radio
                                buttons</legend>
                            <label class="cmp-form-options__field-label"> <input
                                class="cmp-form-options__field cmp-form-options__field--radio"
                                type="radio" name="radio-buttons" value="1"> Option 1
                            </label> <label class="cmp-form-options__field-label"> <input
                                class="cmp-form-options__field cmp-form-options__field--radio"
                                type="radio" name="radio-buttons" value="2"> Option 2
                            </label> <label class="cmp-form-options__field-label"> <input
                                class="cmp-form-options__field cmp-form-options__field--radio"
                                type="radio" name="radio-buttons" value="3" disabled="">
                                Option 3
                            </label>
                            <p class="cmp-form-options__help-message">Optional help message or description</p>
                        </fieldset>
                    </div><!-- end Options component (using checkboxes) -->
                    
                    <!-- Options component (using Select or drop down) -->
                    <div
                        class="options-drop-down sample-xxx options aem-GridColumn aem-GridColumn--default--12">
                        <fieldset class="cmp-form-options">
                            <label class="cmp-form-options__label" for="form-options-1980970007">Options
                                as Drop-down</label> 
                              <select
                                class="cmp-form-options__field cmp-form-options__field--drop-down"
                                name="drop-down" id="form-options-1980970007">

                                <option value="1" selected="">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3" disabled="">Option 3</option>
                            </select>
                             <p class="cmp-form-options__help-message">Optional help message or description</p>
                        </fieldset>
                    </div><!-- end Options component (using Select or drop down) -->
                    
                    <!-- Options component (using mulit select) -->
                    <div
                        class="options-multi-dropdown sample-xxx options aem-GridColumn aem-GridColumn--default--12">
                        <fieldset class="cmp-form-options">
                            <label class="cmp-form-options__label" for="form-options-1461717702">Options
                                as Multi-select drop-down</label> <select
                                class="cmp-form-options__field cmp-form-options__field--multi-drop-down"
                                name="multi-drop-down" id="form-options-1461717702" multiple="">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                             <p class="cmp-form-options__help-message">Optional help message or description</p>
                        </fieldset>
                    </div><!-- end Options component (using mulit select) -->
                    
                    <!-- Button component (regular) -->
                    <div
                        class="button-regular sample-xxx button aem-GridColumn aem-GridColumn--default--12">
                        <button type="BUTTON" class="cmp-form-button" name="button"
                            value="regular-button">Regular Button</button>
                    </div>
                    
                    <!-- Button component (submit) -->
                    <div
                        class="button-submit sample-xxx button aem-GridColumn aem-GridColumn--default--12">
                        <button type="SUBMIT" class="cmp-form-button" name="submit"
                            value="submit-form">Submit Button</button>
                    </div>
                </form>
                    
                <div class="text sample-xxx aem-GridColumn aem-GridColumn--default--6">
                        <div class="cmp-text">
                          <p>There are really only 4 form components:</p>
                          <ol>
                          	<li><b><a target="_blank" href="https://github.com/Adobe-Marketing-Cloud/aem-core-wcm-components/tree/master/content/src/content/jcr_root/apps/core/wcm/components/form/button/v2/button">
                          		Button</a></b></li>
                          	<li><b><a target="_blank" href="https://github.com/Adobe-Marketing-Cloud/aem-core-wcm-components/tree/master/content/src/content/jcr_root/apps/core/wcm/components/form/container/v2/container">
                          		Container</a></b></li>
                          	<li><b><a target="_blank" href="https://github.com/Adobe-Marketing-Cloud/aem-core-wcm-components/tree/master/content/src/content/jcr_root/apps/core/wcm/components/form/hidden/v2/hidden">
                          		Hidden</a></b></li>
                          	<li><b><a target="_blank" href="https://github.com/Adobe-Marketing-Cloud/aem-core-wcm-components/tree/master/content/src/content/jcr_root/apps/core/wcm/components/form/options/v2/options">
                          	Options</a></b></li>
                          	<li><b><a target="_blank" href="https://github.com/Adobe-Marketing-Cloud/aem-core-wcm-components/tree/master/content/src/content/jcr_root/apps/core/wcm/components/form/text/v2/text">
                          		Text</a></b></li>
                          </ol>
                          <p>The <b>Options</b> component offers the most variations as it can be rendered using Checkboxes, Radio Buttons, Dropdown, or Multi-Select</p>
                        
                        </div>
                    </div>
                    
                </div> <!-- main layout container grid -->
            </div><!-- end Main Layout Container div -->
            
        </div><!-- End aem-grid--12 -->
    </div><!-- End Root Container -->

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../build/base.js"></script>

</body>
</html>